<div class="todo-filters">
    <button (click)="filterList('all')" [class.active]="currentFilter == 'all'">
        Todos
        <span class="badge">{{ countAll }}</span>
    </button>
    <button (click)="filterList('active')" [class.active]="currentFilter == 'active'" [disabled]="countActive === 0">
        Ativos
        <span class="badge">{{ countActive }}</span>
    </button>
    <button (click)="filterList('completed')" [class.active]="currentFilter == 'completed'" [disabled]="countCompleted === 0">
        Concluídos
        <span class="badge">{{ countCompleted }}</span>
    </button>
    <button (click)="filterList('clear')" class="clear" [disabled]="countCompleted === 0">Limpar concluídas</button>
</div>