.modal-delete{
    background: #00000075;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    .modal-delete-content{
        background: var(--card-color);
        border-radius: 12px;
        padding: 1.5rem;
        max-width: 50vw;

        .modal-delete-header{
            padding-bottom: 1rem;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--primary-color);
            font-weight: 500;
        }

        .modal-delete-body{
            padding: 1rem 0;
            
            h5{
                color: var(--text-secondary-color);
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            .modal-delete-todo{
                font-size: 2rem;
                color: #FFF;
                text-align: center;
                font-weight: bold;
                word-break: break-word;
            }
        }

        .modal-delete-footer{
            border-top: 1px solid var(--border-color);
            display: flex;
            align-items: center;
            justify-content: end;
            gap: .5rem;
            padding-top: 1rem;
        }
    }
}