.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 750px;
    width: 750px;
    width: 100%;
    margin: auto;
    padding: 1.5rem;
  }
}

.todo-header {
  text-align: center;
  margin-bottom: .5rem;
  background: var(--card-color);
  padding: 1rem;
  border-radius: 12px;

  .todo-title {
    margin: 0;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
  }

  .todo-subtitle {
    color: var(--text-color);
    font-size: 0.95rem;
    margin-top: 0.25rem;
  }
}

.todo-filters {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: .5rem;
  background: var(--card-color);
  padding: 1rem;
  border-radius: 12px;

  button {
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-secondary-color);
    border-radius: 8px;
    padding: 6px 10px;
    cursor: pointer;
    transition: all 0.2s;

    &.active {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }

    &:hover {
      border-color: var(--primary-color);
      color: #f8fafc;
    }

    &.clear {
      margin-left: auto;
      color: #f87171;

      &:hover {
        border-color: #f87171;
      }
    }
  }
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 50vh;
  overflow-y: auto;
  background: var(--card-color);
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: .5rem;

  .todo-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 12px;
    background: #ffffff05;
    transition: background 0.2s;

    &:hover {
      background: var(--border-color);
    }

    .checkbox {
      width: 24px;
      height: 24px;
      border-radius: 6px;
      border: 1px solid var(--border-color);
      background: transparent;
      color: var(--primary-color);
      cursor: pointer;
      display: grid;
      place-items: center;
      font-size: 0.9rem;

      img{
        opacity: 0;
      }

      img.completed {
        opacity: 1;
      }
    }

    .text {
      &.completed {
        text-decoration: line-through;
        opacity: 0.6;
      }
    }

    .text, input {
      display: block;
      flex: 1;
      font-size: 1rem;
      color: #f8fafc;
      background: transparent;
      padding: 4px 0;
      line-height: 1.5;
    }

    input {
      border: none;
      border-bottom: 1px solid var(--border-color);
      outline: none;
      transition: border-color 0.2s;

      &:focus {
        border-bottom-color: var(--primary-color);
      }
    }

    .actions {
      display: flex;
      gap: 6px;

    }
  }
}

.todo-meta {
  background: var(--card-color);
  padding: 1rem;
  border-radius: 12px;
  color: var(--text-secondary-color);
  font-size: 0.9rem;
  text-align: right;
}
