<main class="app">
  <section class="app-content">
    <div class="container">
      <div class="todo-header">
        <h2 class="todo-title">Lista de Tarefas</h2>
        <!-- <p class="todo-subtitle">Organize suas tarefas de forma simples</p> -->
      </div>

      <app-todo-form (newTodo)="insertTodo($event)"></app-todo-form>

      @if(todoList().todos && todoList().todos.length > 0){
        <app-filter
        [countAll]="countFilterAll"
        [countActive]="countFilterActive"
        [countCompleted]="countFilterCompleted"
        (filter)="filterList($event)"
        [currentFilter]="currentFilter"
        ></app-filter>

        <app-todo-list
        [todos]="todoList().todos"
        (updateCompleted)="onUpdateCompleted($event)"
        (updateTitle)="onUpdateTitle($event)"
        (showModalDelete)="onShowModalDelete($event)"
        ></app-todo-list>

        @if(todoList().total > 12){
          <app-pagination-buttons></app-pagination-buttons>
        }
      }
    </div>
  </section>

  @if(showModal && modalInfo){
    <app-modal-delete 
    [showModal]="showModal" 
    [todo]="modalInfo"
    (close)="onCloseModal($event)"
    ></app-modal-delete>
  }

  @if(showNotify){
    <app-notification
    [status]="statusNotify"
    [message]="messageNotify"
    ></app-notification>
  }
</main>