<main class="app">
  <section class="app-content">
    <div class="container">
      <div class="todo-header">
        <h2 class="todo-title">Lista de Tarefas</h2>
        <p class="todo-subtitle">Organize suas tarefas de forma simples</p>
      </div>

      <app-todo-form (newTodo)="insertTodo($event)"></app-todo-form>

      <div class="todo-filters">
        <button class="active">Todas</button>
        <button>Ativas</button>
        <button>Concluídas</button>
        <button class="clear">Limpar concluídas</button>
      </div>

      <ul class="todo-list">
        @if(todoList){
          @for(todo of todoList.todos; track todo){
            <li class="todo-item">
              <button class="checkbox" (click)="toggleCompleted(todo)">
                <img src="icons/check.svg" [class.completed]="todo.completed">
              </button>
              @if(editTodoId !== todo.id){
              <span class="text" [class.completed]="todo.completed">
                {{ todo.title }}
              </span>
            } @else {
                <input
                type="text"
                class="input-edit"
                [value]="todo.title"
                [(ngModel)]="todo.title"
                (keyup.enter)="editTitle(todo)"
                (blur)="editTitle(todo)"
                autofocus
                >
              }
              <div class="actions">
              @if(editTodoId !== todo.id){
                <button (click)="enableEdit(todo.id)" class="btn edit">
                    <img src="icons/edit.svg">
                </button>
              }@else {
                <button (click)="cancelEdit()" class="btn save">
                    <img src="icons/save.svg">
                </button>
              }
                <button class="btn delete" (click)="onShowModal(todo)">
                    <img src="icons/delete.svg">
                </button>
              </div>
            </li>
          }
        } @else {
          <p>Carregando..</p>
        }
      </ul>

      <div class="todo-meta">
        <span>
          @if(todoList) {
            {{ todoList.total }}
          }@else {
            0
          }
          tarefas restantes
        </span>
      </div>
    </div>
  </section>
  @if(showModal && todo){
    <app-modal-delete 
    [showModal]="showModal" 
    [todo]="todo"
    (close)="onCloseModal($event)"
    >
    </app-modal-delete>
  }
</main>
