@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

:root {
    --header-color: #f5f5f5;
  --bg-color: #ffffff;
  --card-color: #f5f5f5;
  --text-color: #111111;
  --text-secondary-color: #555555;
  --primary-color: #3B82F6;
  --secondary-color: #0891b2;
  --accent-color: #2563EB;
  --border-color: #E5E7EB;
}

.dark-theme {
--header-color: #1B1D2E;
  --bg-color: #0B0C1E;
  --card-color: #1B1D2E;
  --text-color: #E5E5E5;
  --text-secondary-color: #94a3b8;
  --primary-color: #06b6d4;
  --secondary-color: #0891b2;
  --accent-color: #60A5FA;
  --border-color: #ffffff0d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}